<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vezba 4</title>
    <script defer type="text/javascript" src="/Cas_9/Domasna/scripts/Vezba4.js"></script>
</head>
<body>
    <form>
        <input id="color" type="text" placeholder="color"><br><br>
        <input id="fontsize" type="text" placeholder="fontsize"><br><br>
        <input id="txt" type="text" placeholder="text"><br><br>
        <button id="btn" type="submit">Submit</button>
    </form>
</body>
</html>