<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Higher order functions and DOM</title>
    <script defer type="text/javascript" src="/Cas_8/scripts/script.js"></script> <!-- vtor nacin na postavuvanje na javascript fajl-->
</head>
<body>
    <h2 id="title" class="zdravo">Semos</h2>
    <div class="block">Semos edukacija</div><br>
    <div class="block">Semos edukacija1</div><br>
    <a href="#">Link</a><br><br>

    <button id="button">Check date</button><br><br>
    <div id="result"></div>
    <!-- <button id="light_on" onclick="lightOn()">Light on</button> -- Star nacin -->
    <button id="light_on" >Light on</button> 
    <button id="light_off">Light off</button><br><br>
    <img id="light" src="https://www.w3schools.com/js/pic_bulboff.gif">
    <form>
        <input type="text" name="inputField" id="inputField">
        <button id="formButton">Submit</button>
    </form>

    <!-- <script defer type="text/javascript" src="/Cas_8/scripts/script.js"></script> -->
    <!-- prv nacin na postavuvanje na javascript fajl-->
</body>
</html>